@use '../../../../styles/variables.scss' as vars;

.empty-cart {
    height: 50vh;

    &__title {
        color: vars.$primary-clr;
        margin-bottom: 0.6rem;
        font: normal 400 1.6rem sans-serif;
    }

    &__button {
        margin-top: 2rem;
        padding: 1rem 2rem;

        border: none;
        color: #fff;
        background-color: vars.$primary-clr;
    }
}