.pagination-container {
    padding: 15px;
    margin-top: 30px;
    background: #ebeef3;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.page-number {
    flex: 1;
    width: 55px;
    height: 45px;
    cursor: pointer;
    margin: 0px 5px;
    color: #4d3252;
    font: 18px sans-serif;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.page-number div {
    width: 100%;
    height: 45px;
}

.previous-page {
    width: 120px;
}

.next-page {
    width: 100px;
}

.page-number:active,
.active-page {
    color: #6f6cde;
    box-shadow: inset -3px -3px 7px #ffffff73,
      inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}