.products-page {
    padding-bottom: 10rem;

    .products {
        cursor: auto;
        display: grid;
        row-gap: 3rem;
        column-gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}