.empty-cart {
    width: 100%;
    height: 50vh;
}

.empty-cart h1 {
    color: #222222;
    margin-bottom: 0.6rem;
    font: 1.9rem sans-serif;
}

.empty-cart button {
    width: 200px;
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background-color: #222;
}