.about-container {
    padding: 3rem;
    background-color: rgb(231, 231, 231);

    &::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 30px;
        background-color: rgb(90, 90, 90);
    }
    
    .about {
        border-right: none;
        border: 1px solid rgb(90, 90, 90);
        
        &__arrow {
            top: -30px;
            right: -15px;
            width: 300px;
            transform: rotate(45deg);
            position: absolute;
        }

        &__img {
            aspect-ratio: 2 / 3;

            &::after {
                content: '';
                height: calc(100% - 2px);
                aspect-ratio: 1 / 1;
                position: absolute;
                top: 0;
                left: 25%;
                border-radius: 50%;
                border: 1px solid rgb(90, 90, 90);
            }
        }

        &__content {
            padding: 3rem;

            h2 {
                color: rgb(117, 116, 116);
                width: 35ch;
                text-align: right;
                font: 2.3rem sans-serif;
            }
        }
    }
}

@media (max-width: 992px) {
    .about {
        display: block !important;
        
        &::before {
            display: none;
        }
        
        &__img {
            width: 100%;
        }
        
        &__arrow {
            bottom: 0;
            left: -55px;
            top: unset;
            width: 300px;
            transform: rotate(-45deg);
        }
    }

    
}