.cart-modal {
    position: fixed;
    top: 50px;
    right: 175px;
    width: 100%;
    padding: 2em;
    max-width: 350px;
    z-index: 2;
    background-color: #fff;
    border: 0.5px solid lightgray;
}