.product-detail-wrapper {
    display: flex;
    margin-top: 40px;
}

.product-detail__image {
    width: 50%;
    height: 500px;
}

.product-detail__image img {
    width: 400px;
    height: 100%;
    object-fit: cover;
}

.product-detail__content {
    width: 50%;
}

.product-detail__content p {
    margin-block: 20px;
}

.product-detail__content button {
    width: 150px;
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background-color: #000;
}

@media (max-width: 992px) {
    .product-detail-wrapper {
        display: block;
    }

    .product-detail__content {
        margin-top: 20px;
    }

    .product-detail__image,
    .product-detail__content {
        width: 100%;
    }

    .product-detail__image img {
        width: 100%;
    }
}