*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul, ol {
    margin: 0;
}

a {
    color: #222;
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
} 

.w-screen {
    width: 100%;
}

.h-full {
    height: 100vh;
    min-height: 100vh;
}

.container {
    padding-inline: 110px;
}

.pos-r {
    position: relative;
}

@media screen and (max-width: 992px) {
    .container {
        padding-inline: 15px;
    }
}