.cart-page-container {
    width: 100%;
    cursor: auto;
}

.cart-page-container table {
    width: 100%;
}

.cart-page-container table thead tr th {
    opacity: .4;
    text-align: left;
    padding-bottom: 1rem;
    font: 500 1rem sans-serif;
    border-bottom: 0.5px solid #222;
}

.cart-page-container table tbody tr:last-of-type td {
    padding-bottom: 2rem;
    border-bottom: 0.5px solid lightgray;
}

.cart-item-page {
    padding-top: 2rem;
    vertical-align: top;
}

.cart-item-page h1,
.go-to-shop h1 {
    color: #222222;
    margin-bottom: 0.6rem;
    font: 1.7rem sans-serif;
}

.go-to-shop {
    margin-block: 2rem;
}

.go-to-shop h2 {
    color: #222;
    transition: .3s ease;
    font: 1rem sans-serif;
    text-decoration: underline;
}

.go-to-shop h2 svg {
    width: 24px;
    height: 24px;
    fill: #222;
    margin-right: .5rem;
}

.cart-item-page h3 {
    opacity: 0.4;
    color: #222222;
    font-family: 1.7rem sans-serif;
}

.cart-product-page__img {
    width: 100px;
    height: 100px;
    min-width: 100px;
    object-fit: cover;
    margin-right: 2rem;
}

.item-quantity .item_Qty,
.item-quantity button {
    height: 30px;
    outline: none;
    background: transparent;
    border: 1px solid lightgray;
}

.item-quantity .item_Qty {
    width: 100px;
}

.item-quantity button {
    width: 30px;
    cursor: pointer;
}

.item-quantity button:first-of-type {
    border-right: none !important;
}

.item-quantity button:last-of-type {
    border-left: none !important;
}

.item-quantity svg {
    width: 24px;
    height: 24px;
    fill: gray;
    margin-left: 1rem;
}

.subtotal {
    width: 100%;
    margin-top: 4rem;
}

.subtotal-calc h1 {
    color: #222;
    margin-right: 1rem;
    font: 500 1.5rem sans-serif;
}

.subtotal-calc h2 {
    color: gray;
    font: 500 1rem sans-serif;
}

.subtotal button {
    width: 200px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 45px;
    transition: .7s ease;
    border: 1px solid #222;
    background-color: #222;
}

.subtotal button:hover {
    color: #222;
    background-color: #fff;
}