.responsive-menu-container {
    top: 0;
    right: 0;
    position: absolute;
}

.responsive-menu-container[data-state="opened"] {
    animation: animate-menu-opened 0.7s ease-in-out forwards;
}

.responsive-menu-container[data-state="closing"] {
    animation: animate-menu-closed 0.7s ease-in-out forwards;
}

.responsive-menu {
    width: 70%;
    background-color: rgb(249 249 249);
}

.responsive-menu ul li:not(:last-of-type) {
    margin-bottom: 1rem;
}

.responsive-menu ul li a {
    font-size: 1.3rem;
}

@media screen and (min-width: 992px) {
    .responsive-menu-container {
        display: none !important;
    }
}

@keyframes animate-menu-opened {
    0% { right: -100%; }
    100% { right: 0; }
}

@keyframes animate-menu-closed {
    0% { right: 0; }
    100% { right: -100%; }
}