.Header {
    height: 80px;
    cursor: auto;
}

.menu ul {
    cursor: auto;
    display: none;
}

.menu ul li {
    cursor: pointer;
}

.menu ul li button {
    width: 25px;
    height: 25px;
    border-radius: none;
}

.menu ul li a {
    cursor: pointer;
    font-size: 1.3rem;
}

.burger-menu {
    gap: 3px;
    cursor: auto;
    border: none;
    outline: none;
    background: transparent;
}

.burger-menu div {
    height: 5px;
    width: 30px;
    background: #222;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.modal-overlay {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0 0 0 / .3);
}

.auth-modal {
    position: fixed;
    width: 100%;
    padding: 2em;
    max-width: 400px;
    background: #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shopping_bag {
    width: 24px;
    height: 24px;
}

.cart_items_num {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    font-size: 0.55rem;
    color: #fff;
    transform: translate(10%, 10%);
    background-color: #222;
}

@media screen and (min-width: 992px) {
    .Header nav .burger-menu {
        display: none;
    }

    .menu ul  {
        display: flex;
    }

    .menu ul li:not(:last-of-type) {
        margin-right: 1rem;
    }
}